<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><%= file_name %>.js | JavaScript Testing Results</title>
  <link rel="stylesheet" href="/shenandoah.css" type="text/css" charset="utf-8" />
  <script type="text/javascript" src="/shenandoah/browser-runner.js"></script>
</head>

<body>
  <!-- Put any HTML fixture elements here. -->
</body>
</html>
